[submodule "loggger"]
	path = loggger
	url = git@github.com:Learning-ocean/loggger.git
[submodule "test-git-hook"]
	path = test-git-hook
	url = git@gitlab.com:Learning-ocean/test-git-hook.git
	branch = submodule
